
*.xcuserstate
*.plist
EasemobVoice_iOS/EasemobVoice_iOS.xcodeproj/xcuserdata/zhujichao1.xcuserdatad/xcschemes/xcschememanagement.plist
EasemobVoice_iOS/EasemobVoice_iOS.xcodeproj/xcuserdata/zhujichao1.xcuserdatad/xcschemes/xcschememanagement.plist
